@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

header {
  height: 60px;
  animation-name: colores;
  animation-duration: 10s; }

h1 {
  background-color: black;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  animation-name: colores;
  animation-duration: 10s; }

@keyframes colores {
  0% {
    background-color: #90d2f1; } }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  background-image: url("../img/textura_noticias.jpg");
  border-style: solid;
  border-color: black; }

a {
  color: black;
  text-decoration: none; }

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25px;
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  padding-top: 20px; }

li {
  margin: 10px;
  font-size: large;
  align-items: center; }

.boton:hover {
  font-size: 20px;
  background-color: white;
  transition: all 2s;
  color: black; }

main {
  background-image: url(../img/textura.jpg);
  background-size: cover; }

#main_index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a1 a2 a3"
 "a4 a5 a6"; }

#noticia_uno {
  text-align: center;
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  border: solid;
  border-color: black;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 90%;
  grid-area: a1; }

#noticia_dos {
  text-align: center;
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  border: solid;
  border-color: black;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 90%;
  grid-area: a2; }

#noticia_tres {
  text-align: center;
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  border: solid;
  border-color: black;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 90%;
  grid-area: a3; }

#noticia_cuatro {
  text-align: center;
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  border: solid;
  border-color: black;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 90%;
  grid-area: a4; }

#noticia_cinco {
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  border: solid;
  border-color: black;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 90%;
  text-align: center;
  grid-area: a5; }

#publicidad {
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  border: solid;
  border-color: black;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 90%;
  grid-area: a6; }

.img_index {
  height: 80%;
  width: 80%; }

.foto_index {
  height: 60%;
  width: 40%; }

h2 {
  text-align: center;
  font-family: 'Acme', sans-serif;
  background-color: white;
  width: 100%; }

#topper {
  height: 80px;
  width: 100%;
  margin-top: 120px; }

#aat {
  width: 100%;
  margin-top: 30px; }

aside {
  height: 100%;
  margin-bottom: 100px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: white;
  background-color: black; }

#footer_tenis_argento {
  font-family: 'Courier New', Courier, monospace;
  color: white; }

#main_jugadores {
  display: flex;
  align-items: center;
  justify-content: center; }

#titulo_jugadores {
  display: flex;
  flex-wrap: nowrap;
  text-align: center; }

#jugadores_nacionales {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

#img_jugadores_nacionales {
  margin: 25px;
  height: 50%;
  width: 100%;
  text-align: center; }

#main_ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

#ranking {
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  height: 600px;
  width: 40%;
  border: solid;
  border-color: black; }

#img_ranking {
  height: 70%;
  width: 70%;
  margin-bottom: 15px; }

#tabla_ranking {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center; }

#main_resultados {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px; }

#resultados {
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  height: 430px;
  border: solid;
  border-color: black; }

#img_resultados {
  width: 100%;
  height: 80%; }

#img_calendario {
  width: 100%;
  height: 100%; }

#tabla_resultados {
  padding-top: 10px;
  height: 450px;
  width: 100%;
  text-align: center;
  align-items: center; }

#partidos_epicos {
  background-image: url(../img/textura_noticias.jpg);
  background-size: cover;
  height: 950px;
  border: solid;
  border-color: black; }

#partido_uno {
  background-image: url(../img/textura_noticias.jpg);
  padding-top: 10px;
  height: 400px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-top: 20px; }

#partido_dos {
  background-image: url(../img/textura_noticias.jpg);
  padding-top: 10px;
  height: 400px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-top: 20px; }

#partido_tres {
  background-image: url(../img/textura_noticias.jpg);
  padding-top: 10px;
  height: 400px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 20px; }

#partido_cuatro {
  background-image: url(../img/textura_noticias.jpg);
  padding-top: 10px;
  height: 400px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 20px; }

.titulos_partidos_epicos {
  text-align: center;
  background-color: white;
  font-size: 30px;
  width: 100%; }

/* vista para móvil */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black; }
  h1 {
    height: 100%;
    width: 100%;
    font-size: 30px; }
  nav {
    height: 40px; }
  ul {
    height: 10px;
    flex-direction: row; }
  li {
    font-size: 10px; }
  #main_index {
    grid-template-columns: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a1"
 "a2"
 "a3"
 "a4"
 "a5"
 "a6";
    justify-content: center; }
  #main_jugadores {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80%;
    grid-template-areas: "a1"
 "a2";
    justify-content: center;
    height: 400px; }
  #main_calendario {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a1";
    justify-content: center; }
  #main_ranking {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a1";
    justify-content: center; }
  #main_partidos {
    grid-template-columns: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "1a" 
 "1b"
 "1c" 
 "1d";
    justify-content: center; } }
